html{
    scroll-behavior:  smooth;
}

.menu {
    display: flex;
    align-items: center;
    max-width: 1296px;
    margin: auto;
    padding-top: 30px;
    gap: 44px;
}

.title {
    color: #000;
    font-family: 'Quicksand';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;

    text-decoration: none;
}

.dropdown {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 98px;
    height: 39px;

    border-radius: 4px;
    background-color: #0F8277;
    border: none;

    color: #EEE;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}



.dropdown::after{
    content: '';
    width: 8px;
    height: 14px;
    background-image: url(/img/Frame\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
   
} 

.menu-conteiner{
    position: relative;
    display: inline-block;
}

.dropdown-menu{
    display: flex;
    padding: 16px 12px 33px 12px;
    flex-direction: column;
    align-items: center;

    background-color: #FFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);

    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 384px;
    height: 600px;
    display: none;
    position: absolute;
    margin-top: 4px;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    padding-top: 40px;
    padding-left: 12px;
}

.block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 360px;
    height: 54px;
    margin: auto;
    margin-top: 16px;
    border-bottom: 1px solid #000000;
    padding-bottom: 40px;
}

.block-text{
    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
}

.block-title1{
    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.menu-conteiner:hover .dropdown-menu {
    display: block;
}

.search {
    display: flex;
    padding-left: 12px;
    align-items: center;
    width: 294px;

    color: #5C5C5C;
    font-family:'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #5C5C5C;
}

.search-conteiner{
    display: flex;
}


.search-button{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;

    border: 1px solid #5C5C5C;
    background-color: #0F8277;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    background-image: url(/img/Group.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.header-text {
    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.log-in {
    color: #0F8277;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    text-decoration: none;
    margin-left: 70px;
}

.sign-up {
    margin: 0;
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background-color: #0F8277;
    border: none;

    color: #EEE;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
}

.learn-main {
    background-color: #DBF3ED;
    height: 602px;
    flex-shrink: 0;
    margin-top: 31px;
    border-radius: 12px;
}

.learn {
   max-width: 1296px;
   margin: auto;
   align-items: center;
   display: flex;
}

.learn-section {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.learn-title {
    color: #000;
    font-family: 'Quicksand';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.learn-text {
    color: #000;
    font-family: 'Quicksand';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    width: 482px;
}

.learn-img {
    padding-top: 39px ;
    padding-left: 170px;
}

.start {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background-color: #0F8277;
    border: none;

    color: #EEE;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.target1{
    text-decoration: none;
    color: #EEE;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.more {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    border-radius: 4px;
    border: 2px solid #0F8277;
    background-color: transparent;

    color: #0F8277;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.button-learn {
    display: flex;
    gap: 24px;
}

/*-----------------grid--------------*/

.grid-choose {
    width: 1296px;
    margin: auto;
    margin-top: 80px;
}

.choose-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.subtitle {
    color: #0F8277;
    font-family: 'Quicksand';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.title-choose {
    color: #000;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.choose-text {
    color: #000;
    font-family: 'Quicksand';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    width: 1296px;
    gap: 24px;
}

.grid-item { 
    height: 480px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    width: 416px;
}

.text-grid {
    padding: 24px 16px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 0;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.img-1 {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 416px;
    height: 270px;
}

.sublogo {
    color: #000;
    font-family: 'Quicksand', sans-serif ;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 

    background-image: url(/img/dan-logo\ 1\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 82px;

}

.title-logo {
    color: #000;
    font-family: 'Quicksand';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.diploma{
    margin-top: 70px;
    padding-left: 28px;

    background-image: url(/img/cds-react-aria-9.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    color: #0F8277;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.sublogo-2 {
    color: #000;
    font-family: 'Quicksand', sans-serif ;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 

    background-image: url(/img/eu_logo.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 24px;
}

.sublogo-3 {
    color: #000;
    font-family: 'Quicksand', sans-serif ;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 

    background-image: url(/img/logo-prjctr.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 47px;
}

.diploma-1 {
    margin-top: 40px;
    padding-left: 28px;

    background-image: url(/img/cds-react-aria-9.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    color: #0F8277;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

/* ----------GRID-2---------- */

.grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    width: 1296px;
    gap: 24px;
}

.grid-item-2 { 
    height: 480px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    width: 306px;
}
    
.course {
    margin-top: 70px;

    color: #0F8277;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.course-1 {
    margin-top: 40px ;

    color: #0F8277;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.more-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-top: 43px;
}

.more-text {
    color: #0F8277;
    font-family: 'Quicksand';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    text-decoration: none;

    background-image: url(/img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 36px;
}

.category-title {
    width: 1296px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 83px;

    color: #000;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.category-conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1296px;
    margin: auto;
    gap: 24px;
}

.category-list {
    display: flex;
    width: 306px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.category-item-1 {
    color: #000;
    font-family: 'Quicksand';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.category-item ,
.category-item-2 ,
.category-item-3 ,
.category-item-4 ,
.category-item-5 ,
.category-item-6 ,
.category-item-7 ,
.category-item-8 ,
.category-item-9 ,
.category-item-10 ,
.category-item-11 ,
.category-item-12 
{
    color: #0F8277;
    font-family: 'Quicksand';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.category-item::after {
    content: '10,909,736 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-2::after {
    content: '3,381,052 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-3::after {
    content: '2,410,849 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-4::after {
    content: '10,931,066 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-5::after {
    content: '6,123,456 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-6::after {
    content: '3,998,037 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-7::after {
    content: '11,415,615 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-8::after {
    content: '36,354,994 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-9::after {
    content: '7,070,015 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-10::after {
    content: '5,977,561 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.category-item-11::after {
    content: '1,195,282 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}
.category-item-12::after {
    content: '1,733,398 students';
    display: block;

    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /
}

.more-text-1 {
    color: #0F8277;
    font-family: 'Quicksand';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    text-decoration: none;

    background-image: url(/img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 36px;
}

.logo-conteiner {
    background-color: #DBF3ED;
    height: 382px;
    margin-top: 83px;
}

.conteiner-width {
    display: flex;
    width: 1296px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: auto;
    padding-top: 80px;
}

.logo-title {
    width: 871px;
    color: #000;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.logo-comp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

/* -------------------- */

.section {
    display: flex;
    gap: 72px;
    width: 1296px;
    height: 412px;
    margin: auto;
}

.section-block{
    display: flex;
    width: 636px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-top: 147px;
}

.section-title{
    color: #000;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 636px;
}

.section-text {
    color: #000;
    font-family: 'Quicksand';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    width: 568px;
}

.section-button{
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    background-color: #0F8277;
    border: none;

    color: #EEE;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.section-logo{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.brand{
    display: flex;
    width: 196px;
    height: 136px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;  

    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.brand-1{
    display: flex;
    width: 196px;
    height: 136px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    
    border-bottom: 1px solid #BABABA;
}

/* ------------------ */

.price{
    background-color: #DBF3ED;
    height: 966px;
    margin-top: 227px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.price-section{
    background-color: #DBF3ED;
    height: 966px;
    width: 1296px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.price-title {
    color: #000;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.price-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 416px;
    height: 698px;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
}

.sample {
    width: 416px;
    height: 698px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    align-self: stretch;
}

.sample-1 {
    width: 416px;
    height: 698px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background-color: #0F8277;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    align-self: stretch;
}

.price-item{
    width: 304px;
    height: 286px;
    margin-top: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 27px;
}

.training{
    color: #000;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    gap: 27px; 
}

.price-text{
    color: #000;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
}

.target{
    color: #000;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.target::after {
    content: '/ mo';
    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-transform: uppercase;
}

.price-button{
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 47px;

    border-radius: 4px;
    background-color: #0F8277;
    border: none;
    text-decoration: none;

    color: #F6FDFF;
    font-family: 'Cabin';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.border{
    width: 100%;
    border: 2px solid  #0F8277;
    border-radius: 80px;
}

.subprice{
    display: flex;
    height: 140px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 24px;
}

.subtext,
.subtext-3-1{
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    width: 290px;
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.subtext::before{
    content: '';
    border-radius: 500px;
    background-color: #0F8277;
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector\ 2.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

.subtext-1{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    width: 320px;
    display: flex;
    gap: 16px;
}

.subtext-1::before{
    content: '';
    border-radius: 500px;
    background-color: #0F8277;
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector\ 2.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

.training-1{
    color: #FFF;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    gap: 27px; 
}

.price-text-1{
    color: #FFF;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
}

.target-1{
    color: #FFF;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.target-1::after {
    content: '/ mo';
    color: #FFF;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-transform: uppercase;
}

.price-button-1{
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 47px;

    border-radius: 4px;
    background-color:#0F8277;
    border: 2px solid #FFF;
    text-decoration: none;

    color: #F6FDFF;
    font-family: 'Cabin';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.border-1{
    width: 100%;
    border: 2px solid  #FFF;
    border-radius: 80px;
}

.subtext-2-1{
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    width: 264px;
    margin-top: 35px;
    display: flex;
    gap: 16px;
}

.subtext-2::before{
    content: '';
    border-radius: 500px;
    background-color: #FFF;
    display: flex;
    width: 16px;
    height: 16px;
    padding-right: 11px;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector\ 2\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

.subtext-2-1::before{
    content: '';
    border-radius: 500px;
    background-color: #FFF;
    display: flex;
    width: 16px;
    height: 16px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector\ 2\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

.subtext-2{
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    width: 290px;
    display: flex;
    gap: 16px;
}

.subtext-2-2{
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    width: 290px;
    display: flex;
    gap: 16px;
}

.subtext-2-2::before{
    content: '';
    border-radius: 500px;
    background-color: #FFF;
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector\ 2\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

.price-button-2{
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 47px;

    border-radius: 4px;
    background-color: #0F8277;
    border: none;
    text-decoration: none;

    color: #F6FDFF;
    font-family: 'Cabin';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.subtext-3,
.subtext-3-2{
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    width: 264px;
    height: 38px;
    display: flex;
    gap: 16px;
}

.subtext-3::before{
    content: '';
    border-radius: 500px;
    background-color: #0F8277;
    display: flex;
    padding-right: 7px;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector\ 2.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

.subtext-3-1::before{
    content: '';
    border-radius: 500px;
    background-color: #0F8277;
    display: flex;
    padding-right: 4px ;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector\ 2.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

.subtext-3-2::before{
    content: '';
    border-radius: 500px;
    background-color: #0F8277;
    display: flex;
    padding-right: 3px ;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Vector\ 2.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
}

/* ------------------------- */

.last-conteiner {
    width: 1296px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.last-title {
    color: #000;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;  
}

.last-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.big-photo{
    grid-column: span 2;
    grid-row: span 2;
}

/* ------------------------------ */

.background{
    margin-top: 76px;
    width: 100%;
    height: 727px;
    background-image: url(/img/image\ 32.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.color{
    background-color: #00000099;
    width: 100%;
    height: 727px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-conteiner{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 565px;
    height: 614px;

    border-radius: 24px;
    background-color: #DBF3ED;
}

.form-title{
    color: #000;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

.form-text{
    color: #000;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    width: 505px; 
}

.form{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 24px;  
}

.input-conteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 505px;
}

.lable {
    color: #000;
    font-family: 'Quicksand';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.custom-input{
    border-radius: 4px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
    width: 100%;
    height: 48px;
    padding-left: 12px;
}

.custom-input::placeholder{
    color: #8E8E8E;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

.custom-input1{
    border-radius: 4px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
    resize: none;
    display: block;

    width: 100%;
    height: 104px;
    padding-left: 12px;
    padding-top: 12px;
}

.custom-input1::placeholder{
    color: #8E8E8E;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

.form-button{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.button{
    display: flex;
    width: 196px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    background-color: #0F8277;
    border: none;

    color: #F6FDFF;
    text-align: center;
    font-family: 'Cabin';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

/* ------------------------ */

.footer{
    width: 1296px;
    margin: auto;
}

.footer-conteiner{
    margin: 64px 0px;
    width: 100%;
    height: 111px;
    display: flex;
    justify-content: space-between;
}

.footer-sec1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-title{
    color: #000;
    font-family: 'Quicksand';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: 0.64px;

    text-decoration: none;
}

.footer-text{
    color: #000;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 

    width: 306px;
}

.footer-sec2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
    align-self: stretch;
}

.footer-icon{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    width: 144px;
    height: 32px;
}

.footer-text2{
    width: 306px;
    color: #000;
    text-align: right;
    font-family: 'Quicksand';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
